/* Full page container */
.forgot-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #60a4c9; 
  font-family: Arial, sans-serif;
  position: relative; 
}

/* Card */
.forgot-card {
  background-color: #549595; 
  width: 380px;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* Icon */
.forgot-icon {
  font-size: 48px;
  margin-bottom: 10px;
  color: white; /* white icon for contrast */
}

/* Title */
.forgot-card h2 {
  color: black; 
  margin-bottom: 8px;
  font-weight: bold;
}

/* Subtitle */
.forgot-card p {
  font-size: 14px;
  color: white; 
  margin-bottom: 20px;
}

/* Form */
.forgot-card form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* Label */
.forgot-card label {
  font-size: 14px;
  margin-bottom: 6px;
  color: black;
}

/* Input */
.forgot-card input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  font-size: 14px;
}

/* Button */
.forgot-card button {
  background-color: #9bf04b; 
  color: black;
  border: none;
  padding: 12px;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.forgot-card button:hover {
  opacity: 0.85;
}

/* Back link */
.back-link {
  display: block;
  margin-top: 18px;
  font-size: 14px;
  color: #60d589; /* green accent */
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}


.top-campus {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 14px;
  font-weight: bold;
  color: black; 
}
